/* Your CSS styles here */
h1{
    font-size: 36px;
    margin-top: 0;
}

h2{
    font-size: 24px;
}

body {
    font-family: "Belleza", sans-serif;
    padding: 20px;
    margin:0;
}

ul {
  margin-bottom: 10px;
  padding: 0; 
  list-style-type: none;
  width:100%;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


.split-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.text-block {
    flex: 1;
    padding: 20px;
    align-content: center;
    background-color: #e3f7fa; /* Light background for contrast */
}

.text-block-2{
    flex: 1;
    padding: 20px;
    align-content: center;
    background-color: #e3f7fa; /* Light background for contrast */
}

.text-block-2 h2,p,form{
    flex: 1;
    justify-items: center;
}

.photo-block {
    flex: 1;
}

.photo-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.split-container-2 {
    display: flex;
    width: 100%;
    height: 300vh;
}

.photo-block-2 {
    flex: 1;
    margin: 10px;
    padding: 10px;
}
.image-row{
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden; 
    scrollbar-color: #ADE0ED #e6f4ff;
    scrollbar-width: thin;
}
.image-row img{
    height: 100%;
}

form input,
form textarea,
form button {
    display: block;
    width: 40vb;
    margin-bottom: 10px;
}




